.topbar
  img.back-img(src='assets/back.svg')
  .topbar-title Nice Trip
  .topbar-right
    .dropdown(class=title=='Account Management'?'active':undefined)
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        img(src='assets/sail.svg')
      ul.dropdown-menu
        li
          a(href='/account') My Account
        li.divider
        li
          a(href='/logout') Logout